/* poppins-regular - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins/poppins-v20-latin-ext_latin-regular.woff') format('woff');
  }
  /* poppins-500 - latin-ext_latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/poppins/poppins-v20-latin-ext_latin-500.woff') format('woff');
  }
  /* poppins-600 - latin-ext_latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins/poppins-v20-latin-ext_latin-600.woff') format('woff');
  }
  /* poppins-700 - latin-ext_latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/poppins/poppins-v20-latin-ext_latin-700.woff') format('woff');
  }
// --------------------------------------------------------------
  /* lato-regular - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/lato/lato-v23-latin-ext_latin-regular.woff') format('woff');
  }
  /* lato-700 - latin-ext_latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/lato/lato-v23-latin-ext_latin-700.woff') format('woff');
  }

// ------------------------------------------------------------------
//light colors
$white-color: #fff;
$head-bg: #e6f0ff;
$bg-01: #f5fafe;
$blue-txt: #0689ff;
$bed-icon: #0688ff;
$lunch-icon: #0c8bff;
$sqft-icon: #0889fe;

// grey colors
$link-txt:#4f5361;
$h1-txt:#687690;
$general-subt-color:#5a6473;
$clogo-txt:#7d8589;
$guides-txt:#353c45;
$img-01-title:#a3a6ab;
$img-01-beds:#4d4d52;
$img-01-rest:#444444;
$img-02-subtitle:#a7a7a7;
$img-02-line:#e9e9e9 ;
$bottom-02-subtitle:#7b8087;
$footer-list:#7a7a7e;
$footer-icons:#646464;
$footer-copy-txt:#c2c2c2;

// dark colors
$signup-btns-bg: #0f1b4c;
$hero-title: #000336;
$h2-title: #000339;
$black-color: #000;
$news-bg: #063183;
$news-btn-txt: #002366;
$footer-title: #1c1c1d;

// font variables
$primary-font: 'Poppins';
$secondary-font: 'Lato';

// font-size
$nav-guides-01-foot-copy: 14px;
$h1-herosubt-01-blue-numsb: 18px;
$big-txt: 64px;
$btn-hero-news: 13px;
$general-subtitle-size: 16px;
$general-title-size: 35px;
$guides-01-foot-title: 20px;
$img-02-title: 26px;
$img-02-subt: 12px;
$subt-02-news-foot-list: 16px;

// line-height
$lh-nav-foot: 21px;
$lh-h1-01-blue-txt: 27px;
$lh-big-txt: 76px;
$lh-herosubt: 32px;
$lh-btn-hero: 19.5px;
$lh-clogo-01img-subt: 20px;
$lh-general-title: 35px;
$lh-general-subt: 30px;
$lh-guides-title: 22px;
$lh-guides-01img-subt: 21px;
$lh-img-02-title: 26px;
$lh-img-02-subt: 18px;
$lh-num-02: 64px;
$lh-foot-list-title: 24px;

// wrapper-size
$big-wrapper: 90%;
$medium-wrapper: $big-wrapper/1.5;
$small-wrapper: $big-wrapper/2;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $white-color;
    font-family: $primary-font;
}


// media query

@mixin media-desktop{
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin transition-ease{
  transition: all 0.5s ease-in-out;
}
@mixin blue-btn{
  width: fit-content;
  background-color: $signup-btns-bg;
  color: $white-color;
  padding: 10px 20px;
  cursor: pointer;
}
@mixin line-above{
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
}

