// -----------------------mobile
// desktop nav
.nav,
.btn-register{
    display: none;
}

// mobile menu
.menu-btn{
    position: fixed;
    z-index: 2;
    right: 5%;
    top: 4%;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    .hamburger{
        position: absolute;
        right: 0;
        top: 5px;
        width: 28px;
        height: 3px;
        background: black;
        @include transition-ease;

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: black;
            @include transition-ease;
        }
        &::after{
            content: '';
            position: absolute;
            top: 8px;
            width: 28px;
            height: 3px;
            background: black;
            @include transition-ease;
        }

        &.open{
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px,8px);
            }
            &::after{
                transform: rotate(-45deg) translate(3px,-7px);
            }
        }
    }
}
.mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;
    z-index: 1;

    &.open{
        visibility: visible;
    }
    .mob-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
        background-color: $head-bg;
        list-style: none;
        padding: 0;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translateY(0);
        }

        &-item{
            font-size: 24px;
            font-weight: 500;
            color: $link-txt;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }
        .btn-register-mob{
            color: $signup-btns-bg;

        }
    }
}
.blue-btn{
    @include blue-btn;
    border-radius: 8px;
    margin-top: 20px;
}

// -----------------------desktop

@include media-desktop{
    .menu-btn,
    .mobile{
        display: none;
    }
    .nav,
    .btn-register{
        display: flex;
        align-items: center;
    }
    .navigation{
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;

        .logo{
            display: flex;
            align-items: center;
        }

        .menu{
            display: flex;
            list-style: none;

            :nth-child(1){
                margin-left: 25px;
            }

            &-item{
                font-size: $nav-guides-01-foot-copy;
                font-weight: 500;
                line-height: $lh-nav-foot;
                color: $link-txt;
                padding: 15px;
                cursor: pointer;
            }
        }
        .btn-register{
            justify-content: flex-end;
            cursor: pointer;

            .btn-sign{
                color: $signup-btns-bg;
                font-size: $nav-guides-01-foot-copy;
                font-weight: 500;
                line-height: $lh-nav-foot;
            }

            .blue-btn{
                margin: 0 0 0 20px;
                line-height: $lh-nav-foot;
            }
        }
    }
}