.newsletter{
    margin: 100px auto;

    .container{
        background-color: $news-bg;
        border-radius: 20px; 

        .left{
            padding: 40px 20px 0;

            .h2-title,
            .subtitle{
                color: $white-color;
            }
            .blue-btn{
                background-color: $white-color;
                color: $news-btn-txt;
                font-size: $btn-hero-news;
                font-weight: 500;
            }
        }
        img{
            display: block;
            width: 80%;
            margin: 20px 0 0 auto;
        }
    }
}