@import './config';
@import './menu';
@import './header';
@import './clients-logo';
@import './hiw';
@import './f01';
@import './f02';
@import './newsletter';
@import './footer';



// wrapper size--------------mobile

.big-wrapper{
    width: $big-wrapper;
    margin: 0 auto;
}
.medium-wrapper{
    width: $big-wrapper;
    margin: 0 auto;
}
.small-wrapper{
    width: $big-wrapper;
    margin: 0 auto;
}
// wrapper size--------------desktop
@include media-desktop{
    .medium-wrapper{
        width: $medium-wrapper;
    }
    .small-wrapper{
        width: $small-wrapper;
    }
}

.h2-title{
    color: $h2-title;
    font-size: $general-title-size;
}
.subtitle{
    color: $general-subt-color;
    font-size: $general-subtitle-size;
}
